* {
    outline: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    scroll-snap-type: both mandatory;
    scroll-behavior: smooth;
}

main {
    position: relative;
    width: 200%;
    height: 400%;
}
    main > section {
        position: relative;
        float: left;
        width: 50%;
        height: calc(25% - 60px);
        overflow: hidden;
        scroll-snap-align: start;

        display: flex;
        flex-flow: column;

        visibility: hidden;
    }
    main > section.visible {
        visibility: visible;
    }
        main > section > details {
            flex: 0;
            position: relative;
            padding: 10px;
            width: 100%;
            height: max-content;
            background-color: #fafbfc;

            box-shadow: 0 0 5px 0 #333;

            z-index: 2;
        }
            main > section > details h2 {
                display: inline;
                font-size: 16px;
            }
            main > section > details h3 {
                display: inline;
                font-size: 14px;
                font-weight: normal;
            }
            main > section > details > summary {
                cursor: pointer;
            }
            main > section > details > ul, main > section > details > p {
                padding: 10px 10px 10px 30px;
            }
        main > section > form {
            position: relative;
            flex: 1;
            width: 100%;

            z-index: 1;
        }
            main > section > form > div {
                position: absolute;
                padding: 20px 20px 0 20px;
                left: 0;
                top: 50%;
                width: 100%;
                height: max-content;
                max-height: calc(100% - 50px);
                overflow: auto;

                transform: translateY(calc(-50% - 25px));

                display: flex;
                flex-direction: column;
                align-items: center;
            }
                main > section > form > div > :is(label, fieldset) {
                    display: block;
                    margin: 0 5px 20px 5px;
                    float: left;
                    width: 800px;
                    max-width: calc(100% - 10px);
                }
                main > section#footer > form > div > fieldset {
                    padding: 20px;
                    border-radius: 5px;
                }
                    main > section > form > div > fieldset > legend {
                        user-select: none;
                        padding: 10px;
                    }
                    main > section > form > div > label > small {
                        float: right;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    main > section > form > div > label > small.good {
                        color: limegreen;
                    }
                    main > section > form > div > label > small.caution {
                        color: gold;
                    }
                    main > section > form > div > label > small.danger {
                        color: tomato;
                    }
                        main > section > form > div > label > small > sub {
                            padding-left: 3px;
                            font-size: 8px;
                            font-weight: normal;
                        }
                    main > section > form > div > :is(label, fieldset) a.help {
                        text-decoration: none;
                        width: 16px;
                        height: 16px;
                        background-color: #d1d5da80;
                        color: #24292e;
                        font-size: 11px;
                        text-align: center;
                        cursor: pointer;
                        font-weight: bold;
                        
                        border-radius: 50%;
                        
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                    }
                    main > section > form > div > :is(label, fieldset) a.help:hover {
                        background-color: #96999c80;
                    }
                    main > section > form > div > label > em {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                    main > section > form > div > :is(label, fieldset) input[type="text"], main > section > form > div > label > output#header {
                        display: block;
                        margin: 5px 0;
                        padding: 7px 14px;
                        border: none;
                        border-bottom: 1px solid #aaa;
                        width: 100%;
                        font-size: 14px;

                        border-radius: 5px;
                    }
                        main > section > form > div > label > span > input[type="text"] {
                            display: inline-block;
                            width: 300px;
                            max-width: calc(100% - 50px);
                        }
                    main > section > form > div > :is(label, fieldset) textarea, main > section > form > div > label > output#description {
                        display: block;
                        margin: 5px 0;
                        padding: 7px 14px;
                        border: none;
                        border-left: 1px solid #aaa;
                        border-right: 1px solid #aaa;
                        width: 100%;
                        height: 250px;
                        font-size: 14px;
                        word-wrap: break-word;
                        overflow: auto;

                        border-radius: 5px;
                    }
                main > section#result > form > div > fieldset {
                    position: relative;
                    float: left;
                    padding-top: 10px;
                    width: calc(100vw - 40px);
                    max-width: 800px;
                    border: none;
                    border-top: 1px groove #333;
                    text-align: center;
                }
                    main > section#result > form > div > fieldset > legend {
                        font-weight: bold;
                    }
                    main > section#result > form > div > fieldset > code {
                        position: relative;
                        display: block;
                        padding: 20px;
                        width: inherit;
                        max-width: 800px;
                        height: max-content;
                        background: #2b2b2b;
                        text-align: left;
                        word-wrap: break-word;

                        border-radius: 5px;
                    }
                        main > section#result > form > div > fieldset > code > span.command {
                            color: #ffd700;
                        }
                        main > section#result > form > div > fieldset > code > span.parameter {
                            color: #f8f8f2;
                        }
                        main > section#result > form > div > fieldset > code > span.value {
                            color: #abe338;
                        }
            main > section > form > nav {
                position: absolute;
                padding: 10px 15px;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 50px;

                display: flex;
                justify-content: space-between;
            }
                main > section > form > nav > button {
                    text-decoration: none;
                    width: 100px;
                    height: 30px;
                    background-color: #0366d6;
                    color: #fff;
                    text-shadow: 0 0 2px #000;
                    text-align: center;
                    border: none;
                    cursor: pointer;

                    border-radius: 5px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                main > section > form > nav > button.finish, main > section > form > nav > button.new {
                    background-color: #2ea44f;
                }
                main > section > form > nav > button:only-child {
                    margin-left: auto;
                }
                main > section > form > nav > button:hover {
                    transform: scale(1.05);
                }
                main > section > form > nav > button:active {
                    transform: scale(1);
                }

footer {
    position: fixed;
    padding: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #24292e;

    z-index: 3;
}
    footer > header {
        width: 100%;
        height: 40%;
        text-align: center;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
        footer > header > a {
            display: inline-block;
            width: max-content;
            height: max-content;
            text-decoration: none;
        }
            footer > header > a > h1 {
                display: inline;
                font-size: 18px;
                color: #fff;
                white-space: nowrap;
            }
            footer > header > a > img {
                float: left;
                width: 100%;
            }
    footer > aside {
        width: 100%;
        height: 60%;
        text-align: center;
        font-size: 14px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }
        footer > aside > a {
            color: #fff;
        }


@media (min-width: 700px) {
    main > section {
        height: calc(25% - 28px);
    }
    footer {
        padding: 0;
        height: 28px;
    }
    footer > header {
        height: 100%;
        width: max-content;
        margin: 0 auto;
    }
    footer > aside {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 5px;
        height: 100%;
        z-index: -1;
    }
}